*.log
*.s
*.a
*.i
*.o
*.out
*.d
*.pbi
*.xcl
*.browse
*.dbgdt
*.linf
*.crun
*.dni
*.dnx
*.wsdt
*.ps1
*.cmf
*.hum
*.hxl
*.lst
*.map
*.mcu
*.mum
*.pum
*.rlf
*.sdb
*.sym
*.jlink
*.rlf
*.sym
*.cmf
*.elf
*.bin
*.map
*.p1
*.pre
*.obj
*.lst
*.map
*.dcu
*.ddp
*.tds
*.fts
*.000
*.upx
*.~cpp
*.~pas
*.~c
*.~hmx
*.~ddp
*.~dfm
*.~h
*.~bpr
*.~dsk
*.~mak
*.bak
*.GID
*.cnt
*.eco
*.opj
*.dbk
GLOBAL.adu
*.$$$
desktop.*
vc_redist.*
log.txt*
.tmp*/
Reports/*